@import url('https://fonts.googleapis.com/css?family=Pacifico');


html body{
	margin: 0;
	padding: 0;


}

p.main-navhead{
	font-family: Pacifico;
	padding: 10px;
	text-align: left;
	text-size: 50px;
	font-size: xx-large;
	text-shadow: 4px 2px 3px grey;
	color: white;

}

.main-navheader{
	font-family: Pacifico;
	padding: 0;
	text-align: left;
	text-size: 20px;
	font-size: large;
	text-shadow: 4px 2px 3px grey;
	color: white;
}

.nav-box{
	display: grid;
	grid-template-columns: 1fr 1fr;s


}
nav.main-nav{
	padding: 5px;
	border: 5px solid rbga(0, 0, 0, .2);
	background: darkslategrey;
	text-align: right;
}

nav ul li{
	padding-top: : 25px;
	padding-right: 8px;
	padding-left: 8px;
	display: inline-block;


	
}

nav ul li a:hover {
	background-color: darkcyan;



}

nav ul li a{
	color: #777;
	text-decoration: none;
	font-size: 20px;


}



.main-about{
	white-space: pre-wrap;


}
.banner-wrap{
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 2fr 1fr;
	grid-gap:.5em;
	grid-auto-rows: minmax(auto 1000px);
	/*grid-row*/
}

.main-box{
grid-column:1/5;
background-image: url('images/PHOTO-2019-05-04-13-58-00.jpg');
background-size: 900px 1000px;
backgroun-repeat: no;
vertical-align: text-bottom;


}

.main-header{
	text-align: center;
	vertical-align: bottom;
	font-size: xx-large;
	font-family: Pacifico;
	text-shadow: 4px 2px 3px #000;
	color: white;
	}

.content-field h2{
	text-align: center;
}

.content-field p {
	padding: 10px;


}
.content-field{
grid-column: 1/3;
white-space: pre-wrap;

}
.sidebar li :hover{ 
	color:teal;
	text-decoration: underline;


}

.sidebar li{
	color: palegoldenrod;
}

.sidebar h3{
	text-align: center;
}
.sidebar{
	background: black;
	color: palegoldenrod;


}

.main-home{
	white-space: pre-wrap;


}
.footer-wrapper{
	background-color: darkslategrey;



}

.footer-wrapper{
	display:grid;
	grid-template-columns: 3fr 1fr;
	


}

.footer-content span{
	color: black;
	font-size: large;

}
.footer-content p{
	color:#777;
	padding-left: 20px

}

.bottom-icon {



}

.bottom-icon li{
	align-items: right;
	padding: 10px;
	display: inline-block;


}

.social-icon{
	
	display: inline-block;

}
