@import url('https://fonts.googleapis.com/css?family=Pacifico');


html body{
	margin: 0;
	padding: 0;


}

/*p.main-navhead{
	font-family: Pacifico;
	padding: 0;
	text-align: left;
	font-size: xx-large;
	text-shadow: 4px 2px 3px grey;
	color: white;

}*/

.main-navheader{
	font-family: Pacifico;
	padding: 0;
	text-align: left;
	font-size: large;
	text-shadow: 4px 2px 3px grey;
	color: white;
}

.nav-box{
	display: grid;
	grid-template-columns: repeat(2, 1fr) ;


}
nav.main-nav{
	border-bottom: 5px solid #777;
	background: darkslategrey;
	text-align: right;

}

nav ul li{
	padding-top:  15px;
	padding-right: 8px;
	padding-left: 8px;
	display: inline-block;


	
}

nav ul li a:hover {
	background-color: darkcyan;



}

nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;


}



.main-about{
	white-space: pre-wrap;


}
.banner-wrap{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/*grid-row*/
}

.main-box{
grid-column:1/5;
background-image: url('images/PHOTO-2019-05-04-13-58-00.jpg');
background-repeat: no-repeat;
background-position: center;
height: 400px;
background-size: cover ;
background-color: rbga(180, 180, 180, 0.5);
background-blend-mode: multiply;



}

.main-header{
	font-size : 30px;
	line-height: 1.5;

	text-align: center;
	font-family: Pacifico;
	text-shadow: 4px 2px 3px #000;
	color: white;
	}
	
.sidebar{
	grid-column: 1/4;
	grid-row:2/3;
	justify-content: right;
}
.sidebar-box{
	display: grid;
	grid-template-columns: 1fr 1fr;

}
.side-head-box{
	grid-column: 1/3

}
.side-head{
	font-size:20px;
	padding-bottom: 5px;
	text-align: center;

}
.sidebar li :hover{ 
	color:teal;
	text-decoration: underline;


}

.sidebar li{
	color: palegoldenrod;
}

.sidebar h3{
	text-align: center;
}
.sidebar{
	background: black;
	color: palegoldenrod;


}
.content-field{
white-space: pre-wrap;
}


.content-field{
	grid-column: 1/4;


}
.content-field h2{
	padding:0px;
	text-align: center;
}
.content-field p{
	margin: 20px;
}

.main-home{
	white-space: pre-wrap;


}
.footer-wrapper{
	background-color: darkslategrey;
	border-top: 5px solid #777;
	



}

.footer-wrapper{
	display:grid;
	grid-template-columns: 3fr 1fr;
	


}

.footer-content span{
	color: black;
	padding-left: 5px;
	font-size: 20px;
	font-weight: bold;

}
.footer-content p{
	color:white;
	padding-top: 3px;
	padding-left: 15px

}
.footer-content p:hover{
	color: darkcyan;
}

.social-icons li:hover{
	background-color: darkcyan;


}

.bottom-icon li{
	align-items: right;
	padding: 5px;
	display: inline-block;


}

.social-icon{
	
	display: inline-block;

}

@media (min-width: 600px) {

	
.main-header{
	font-size: 50px;
}	
.banner-wrap{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas: 
	"i i i i i i i i i i i i "
	"i i i i i i i i i i i i "
	"i i i i i i i i i i i i "
	"c c c c c c c c c s s s "
	"c c c c c c c c c s s s "
}
.main-box{
grid-area: i;
height:auto;
}
.content-field{
	grid-area: c;
	

}

.content-field p{
	line-height: 1.5em;

}

.sidebar{
	grid-area: s;
	justify-content: center;
}
.sidebar-box{
	

}
.side-head-box{
	

}
.side-head{


}


}